{% include 'main.html' %}
{% load static %}
{% block content %}
<div class="prod-cont">
    <div class="prod-img-cont">
        <div class="prod-img-lg">
            <div class="grid-prod-box"> 
                <div class="grid-prod-box-front">
                {% for prod in prods %}
                  <div class="item-img" id="main-img"><img src="{{ prod.image1.url }}"></div>          
                </div>
                <div class="grid-prod-box-back">
                </div>
              
            </div>
        </div>
        <div class="prod-img-sml">
            <img class="prod-img-sel" src="{{ prod.image1.url }}" onclick="changeImage('{{ prod.image1.url }}')">      
            <img class="prod-img-sel" src="{{ prod.image2.url }}"onclick="changeImage('{{ prod.image2.url }}')">
            <img class="prod-img-sel" src="{{ prod.image3.url }}"onclick="changeImage('{{ prod.image3.url }}')">
        </div>
</div>
<div class="prod-info">
    
    <div class="prod-txt-cont">
        <div class="prod-txt">{{ prod.prod_name }}</div>
        <div class="prod-class">{{ prod.collection.category }}</div>
        <div class="prod-type">{{ prod.prodtype.product}}</div>
        <div class="prod-rating">
            {% for rating in ratings %}
                
                    <img src="{% static 'img/rating.png' %}" alt="Rating">
               
            {% endfor %}
        </div>
        <div class="prod-price"> Price =  {{ prod.prod_price }} </div>
    </div>
    
    {% comment %} <div class="prod-size-cont">
        <div class="prod-size-title">
            <span>SIZE</span>
        </div>
        
        <ul class="prod-size">
            <div class="grid-box-text "  >
                <div class="grid-box-text-front"><li class="size-text">S</li>
                </div>
                <div class="grid-box-text-back">
                </div>
            </div>
            <div class="grid-box-text "  >
                <div class="grid-box-text-front"><li class="size-text">M</li>
                </div>
                <div class="grid-box-text-back">
                </div>
            </div>
            <div class="grid-box-text "  >
                <div class="grid-box-text-front"><li class="size-text">X</li>
                </div>
                <div class="grid-box-text-back">
                </div>
            </div>
            <div class="grid-box-text "  >
                <div class="grid-box-text-front"><li class="size-text">XL</li>
                </div>
                <div class="grid-box-text-back">
                </div>
            </div>
        </ul>
    </div>   {% endcomment %}
    <div class="addcart">
        <div class="sub-btn" >
            <div class="grid-box-text">
                <div class="grid-box-text-front"id="btnwidth">
                    <a href="{% url 'addtocart' prod.prod_name  %}"><button>ADD TO CART</button></a>
                </div>
                <div class="grid-box-text-back">
                </div>
            </div>
          </div>
    </div>
    <div class="desc">
        <span class="desc-title">Description:<span><br>
        <span class="desc-cont">{{prod.description}}</span>
    </div>
    {% endfor %}
</div>
</div>
<div class="rcmd-cont">
<div class="container-title border-box-bottom">
    <span>You Might Also Like</span>
    <span class="arrow"><a href="{% url 'store' %}"><img src="{% static 'img/arrow.png' %}"/></a></span>
</div>
<div class="newarrival-cont ">
    {% for newarrival in newarrivals %}
      {% if forloop.counter <= 6 %}
          <a class="box" href="{%url 'product' newarrival.prod_name %}">
            <div class="grid-box-item"> 
                <div class="grid-box-item-front" style="background-color : {{ newarrival.collection.color}}">
                  <div class="item-img"><img src="{{ newarrival.image1.url }}"></div>
                  <div class="item-text">
                    <div class="item-class">{{ newarrival.collection.category}} </div>
                    <div class="item-txt"> {{ newarrival.prod_name }} </div>
                    <div class="item-price">RS={{ newarrival.prod_price }}</div>
                  </div>
                </div>
                <div class="grid-box-item-back">
                </div>
          
            </div>
          </a>
        {% endif %}
      {% endfor %}  
</div>
</div>
<div class="review-section">
    <div class="container-title border-box-bottom">
        <span>Review</span>
    </div>
    {% for review in reviews %}
        <div class="message-cont">
            <div class="user-img"><img src="{% static 'img/user.svg' %}" alt="usermg"/></div>
            <div class="username">{{ review.username }}</div>
            <div class="rating">
                <span class="desc-title">Rating:</span>
                {% load filters %}
                {% for _ in review.rating|times %}
                    <img src="{% static 'img/rating.png' %}" alt="Rating">
                {% endfor %}
            </div>
            <div class="desc-cont">
                {{ review.message }}
            </div>
        </div>
    {% endfor %}
    <div class="add_cmt">
        <button type="button" class="btn btn-primary addbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Comment</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form" id="customer-review-form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in review_form %}
                                <div class="form_cont">
                                <label>{{field.label}}</label>
                                    {{field}}

                                </div>
                    {% endfor %}
                    
                    <!-- Submit button -->
                    <button type="submit" class="btn-primary revbtn">SUBMIT</button>
                    
                </form>
                
            </div>
            
        </div>
        </div>
    </div>
</div>
{% comment %} <script>
    function submitForm() {
        var form = document.getElementById('customer-review-form');
        var formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                
                if (form.checkValidity()) {
                    // Form is valid, proceed with Razorpay payment
                   
                } else {
                    // Form is invalid, trigger the browser's default form validation
                    form.reportValidity();
                }
            }
        };
        xhr.send(formData);
    }
</script> {% endcomment %}
{% endblock content %}
